@model Contact
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>
    <header>
        <div class="nav-bar">
            <a href="#" class="logo-name">
                {Behar Beshiri}
            </a>
            <div class="navigation">
                <div class="nav-items">
                    <div class="nav-close-btn"></div>
                    <a href="#home">{Home}</a>
                    <a href="#about">{About}</a>
                    <a href="#skills">{Skills}</a>
                    <a href="#portfolio">{Portfolio}</a>
                    <a href="#contact">{Contact}</a>
                </div>
            </div>
            <div class="nav-menu-btn"></div>
        </div>
    </header>
    <section class="home flex-center" id="home">
        <div class="home-container">
            <div class="media-icons">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </div>
            <div class="info">
                <h2>Hi, I am Behar Beshiri</h2>
                <h3>Developer, Designer</h3>
                <p>I like developing, and also I like designing with Photoshop</p>
                <a href="" class="btn">Contact Me <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            <div class="home-img">
                <div class="home-img-1">
                    <img src="./Images/photo.png" alt="">
                </div>
            </div>
        </div>
        <a href="#about" class="scroll-down">{ Scroll Down } <i class="fas fa-arrow-down"></i></a>
    </section>
    <section class="about section" id="about">
        <div class="container flex-center">
            <h1 class="section-title-01">{About Me}</h1>
            <h2 class="section-title-02">{About Me}</h2>
            <div class="content flex-center">
                <div class="about-img">
                    <img src="./Images/photo.png" alt="">
                </div>
                <div class="about-info">
                    <div class="description">
                        <h4>println(Behar Beshiri);</h4>
                        <h3>Behar Beshiri</h3>
                        <h4>
                            A <span>Web Developer, Software Developer and Designer</span> based in <span>Kosovo</span>
                        </h4>
                        <p>
                            I have good knowledge in Java, .NET, C# Programming, MSSQL, Algorithms, these are some of the
                            languages that I have learned at university during 3 years of studies.
                            I have choose specializing Web Programming in third year of studies in computer science,
                            I have developed on several different projects with some different programming technologies,
                            also I have some of the knowledges in Photoshop.
                        </p>
                    </div>
                    <ul class="proffesional-list">
                        <li class="list-item">
                            <h3>Experience, Game Jam</h3>
                            <span>ITP, Prizren</span>
                        </li>
                        <li class="list-item">
                            <h3>Experience, Game Development</h3>
                            <span>Western Balkan Digital Summit, Prishtine</span>
                        </li>
                        <li class="list-item">
                            <h3>5+, Different Web Technology</h3>
                            <span>Successful<br>Projects</span>
                        </li>
                    </ul>
                    <a href="" class="btn">Download CV <i class="fas fa-download"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="skills section" id="skills">
        <div class="container flex-center">
            <h1 class="section-title-01">{Skills}</h1>
            <h1 class="section-title-02">{Skills}</h1>
            <div class="content">
                <div class="skills-description">
                    <h3>Education & Skills</h3>
                    <p>
                        For more than 2 years have been accomplomishing with modern Web Development, Web App programming
                    </p>
                </div>
                <div class="skills-info education-all">
                    <div class="education">
                        <h4><label>Education</label></h4>
                        <ul class="edu-list">
                            <li class="item">
                                <span class="year">2019 - Present</span>
                                <p>
                                    <span>Bsc in Computer Science and Enngineering</span> - UBT University of Business
                                    and Technology
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="education">
                        <h4><label>Experience</label></h4>
                        <ul class="edu-list">
                            <li class="item">
                                <span>Game Jam</span>
                                <p>ITP, Prizren</p>
                            </li>
                            <li class="item">
                                <span>Game Development</span>
                                <p>Western Balkan Digital Summit, Prishtine</p>
                            </li>
                        </ul>
                    </div>
                    <div class="education">
                        <h4><label>Skills</label></h4>
                        <ul class="bars">
                            <li class="bar">
                                <div class="info">
                                    <span>Java</span>
                                    <span>80%</span>
                                </div>
                                <div class="line java"></div>
                            </li>
                            <li class="bar">
                                <div class="info">
                                    <span>.NET MVC</span>
                                    <span>70%</span>
                                </div>
                                <div class="line dotnet"></div>
                            </li>
                            <li class="bar">
                                <div class="info">
                                    <span>SQL</span>
                                    <span>70%</span>
                                </div>
                                <div class="line sql"></div>
                            </li>
                            <li class="bar">
                                <div class="info">
                                    <span>Vue Js</span>
                                    <span>65%</span>
                                </div>
                                <div class="line vue">

                                </div>
                        </ul>
                    </div>
                    <div class="education">
                        <h4><label>Courses</label></h4>
                        <ul class="edu-list">
                            <li class="item">
                                <span>Web Programming with .NET MVC</span>
                                <p><span>Car Rental</span> with .NET MVC, Microsoft Azure.</p>
                            </li>
                            <li class="item">
                                <span>Web Development and Design with Vue Js, Node Js, Express Js, MongoDB</span>
                                <p>
                                    <span>E-Commerce</span> website with functionaliity inventory management with Vue Js,
                                    Node Js, Express Js, MongoDB, Firebase.
                                </p>
                            </li>
                            <li class="item">
                                <span>Content Management System with Laravel and MySQL</span>
                                <p><span>Doctor Appointment</span> with Laravel, Vue Js.</p>
                            </li>
                            <li class="item">
                                <span>Datebase with MSSQL</span>
                                <p>Bank Management System with MSSQL</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio section" id="portfolio">
        <div class="container flex-center">
            <h1 class="section-title-01">{Portfolio}</h1>
            <h2 class="section-title-02">{Portfolio}</h2>
            <div class="content">
                <div class="portfolio-list">
                    <div class="img-card-container">
                        <div class="img-card">
                            <div class="overlay"></div>
                            <div class="info">
                                <h3>Web Programming with .NET MVC</h3>
                                <span>Car Rental</span>
                            </div>
                            <img src="./Images/Rental.png" alt="">
                        </div>
                        <div class="portfolio-model flex-center">
                            <div class="portfolio-model-body">
                                <i class="fas fa-times portfolio-close-btn"></i>
                                <h3>Web Programming</h3>
                                <img src="./Images/Rental.png" alt="">
                                <p>Car Rental with .NET MVC, Microsoft Azure, created to make people more organised life with Rent</p>
                            </div>
                        </div>
                    </div>
                    <div class="img-card-container">
                        <div class="img-card">
                            <div class="overlay"></div>
                            <div class="info">
                                <h3>Content Management System</h3>
                                <span>Doctor Appointment</span>
                            </div>
                            <img src="./Images/docAppointment.png" alt="">
                        </div>
                        <div class="portfolio-model flex-center">
                            <div class="portfolio-model-body">
                                <i class="fas fa-times portfolio-close-btn"></i>
                                <h3>Content Management System</h3>
                                <img src="./Images/docAppointment.png" alt="">
                                <p>Doctor Appointment with Laravel, Vue Js, this website is create to help doctors with appointments</p>
                            </div>
                        </div>
                    </div>
                    <div class="img-card-container-1">
                        <div class="img-card">
                            <div class="overlay"></div>
                            <div class="info">
                                <h3>Web Development and Design</h3>
                                <span>E-commerce</span>
                            </div>
                            <img src="./Images/E-commerce.jpg" alt="">
                        </div>
                        <div class="portfolio-model flex-center">
                            <div class="portfolio-model-body">
                                <i class="fas fa-times portfolio-close-btn"></i>
                                <h3>Web Development and Design</h3>
                                <img src="./Images/E-commerce.jpg" alt="">
                                <p>E-Commerce website with functionaliity inventory management with Vue Js, Node Js, Express Js, MongoDB, Firebase</p>
                            </div>
                        </div>
                    </div>
                    <div class="img-card-container">
                        <div class="img-card">
                            <div class="overlay"></div>
                            <div class="info">
                                <h3>Web Multimedia</h3>
                                <span>Phone Fix</span>
                            </div>
                            <img src="./Images/Fix.png" alt="">
                        </div>
                        <div class="portfolio-model flex-center">
                            <div class="portfolio-model-body">
                                <i class="fas fa-times portfolio-close-btn"></i>
                                <h3>Web Multimedia with React Js, .NET</h3>
                                <img src="./Images/Fix.png" alt="">
                                <p>Phone Fix website for customers wiith problems to address in Phone Fix contact</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact section" id="contact">
        <div class="container flex-center">
            <h1 class="section-title-01">{Contact Me}</h1>
            <h2 class="section-title-02">{Contact Me}</h2>
            <div class="content">
                <div class="contact-left">
                    <h2>Let's discuss your project</h2>
                    <ul class="contact-list">
                        <li>
                            <h3 class="item-title"><i class="fas fa-phone"></i> Phone</h3>
                            <span>+38349544066</span>
                        </li>
                        <li>
                            <h3 class="item-title"><i class="fas fa-envelope"></i> Email</h3>
                            <span><a href="mailto:bbeshiri71@gmail.com">bbeshiri71@gmail.com</a></span>
                        </li>
                        <li>
                            <h3 class="item-title"><i class="fas fa-map-marker-alt"></i> Address</h3>
                            <span>Prishtine, Kosove</span>
                        </li>
                    </ul>
                </div>
                <div class="contact-right">
                    <p>I'm always open for projects or design</p>
                    <form class="contact-form" asp-action="Contact">
                        <div  class="first-row">
                            <input  type="text" placeholder="Name" asp-for="Name">
                        </div>
                        <div class="second-row">
                            <input  type="email" placeholder="Email" asp-for="Email">
                        </div>
                        <div class="third-row">
                            <textarea name="message" id="" rows="7" placeholder="Message" asp-for="Message"></textarea>
                        </div>
                        <button class="btn" type="submit">Send Message<i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-container">
            <div class="about group">
                <h2>{Behar Beshiri}</h2>
                <p>Developer, Designer</p>
                <a href="#about">{About}</a>
            </div>
            <div class="hr"></div>
            <div class="info group">
                <h3>More</h3>
                <ul>
                    <li><a href="#skills">{Skills}</a></li>
                    <li><a href="#portfolio">{Portfolio}</a></li>
                    <li><a href="#contact">{Contact}</a></li>
                </ul>
            </div>
            <div class="hr"></div>
            <div class="follow group">
                <h3>Follow</h3>
                <ul>
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright group">
            <p>© 2022 powered by Behar Beshiri</p>
        </div>
    </footer>

    <script src="./js/script.js"></script>
</body>

</html>
